* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

label,
input {
  display: block;
}
label {
  color: green;
}

input {
  width: 100%;
}

input[type="submit"] {
  margin: 15px auto 0 auto;
  width: 40%;
  background-color: rgb(197, 197, 241);
  border-radius: 5px;
}

form {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  border: 2px solid black;
  padding: 15px;
}
.g-recaptcha {
  margin-top: 15px auto;
  display: flex;
  justify-content: center;
}
/**
margin: 25px 50px 75px 100px;
top margin is 25px
right margin is 50px
bottom margin is 75px
left margin is 100px
**/
